@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.reports {
  @include flex(column, $gap: 16px);
  max-width: 724px;
  width: 100%;
}

.wrapperReferral {
  @include flex(column, $gap: 16px);
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition:
  opacity 0.3s ease-in-out,
  height 0.3s 0.3s ease-in-out;

  &_animated {
    opacity: 1;
    transition:
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
  }
}
