@font-face {
  font-family: 'Syncopate';
  font-weight: 700;
  src:
    url('./Syncopate/Syncopate-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-weight: 700;
  src:
    url('./RedHatDisplay/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-weight: 600;
  src:
    url('./RedHatDisplay/RedHatDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-weight: 400;
  src:
    url('./RedHatDisplay/RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-weight: 300;
  src:
    url('./RedHatDisplay/RedHatDisplay-Light.ttf') format('truetype');
}
