@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.report {
  @include flex(row, $justify-content: space-between);
  max-width: 728px;
  width: 100%;

  &_progeny {
    cursor: $cursor;
  }

  &_referral:first-child {
    padding-top: 16px;
    border-top: 1px solid rgb(221, 221, 221, .3);
  }

  &_referral:last-child {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(221, 221, 221, .3);
  }

  &__icon {
    @include size (24px, 24px);
    color: $dark-gray;
    transform: rotate(180deg);

    &_referral {
      color: $white;
    }

    &_active {
      transform: rotate(0);
    }
  }

  &__img {
    @include size (20px, 20px);
    border-radius: 50%;
  }

  &__title {
    min-width: 110px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_referral {
      padding-left: 32px;
      color: $gray;
    }
  }
}

.wrapperTitle {
  @include flex(row, flex-start, center, 8px);
  min-width: 132px;
  width: 100%;
  padding-right: 14px;
}

.wrapperValues {
  @include flex(row, flex-start, center, 15px);
  max-width: 349px;
  width: 100%;
}

.value {
  min-width: 48px;
  width: 100%;
  text-align: left;

  &:last-child {
    text-align: right;
  }
}
