@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.headerLayout {
  border-bottom: 1px solid rgb(95,79,100, .3);
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px
}

.wrapper {
    @include flex(row, space-between, center);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 0;
}

.navWrapper {
  @include flex(row, center, center, 36px);
}

.navLink {
  text-decoration: none;
}

.titleClass {
  &:hover {
    color: $gray;
  }
}

.icon {
  @include size(32px, 32px);

  &_color_gray {
    color: $gray;
  }

  &_color_white {
    color: $white;
  }
}

.button.button {
  @include flex(row, center, center);
  max-width: 181px;
  width: 100%;
  padding: 20px 0;
  background-color: $violet;
  border-radius: 6px;
}

.dropdown {
  background: rgb(238,238,238, .3);
  border-radius: 2px;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;

  &__help {
    width: 90px;
  }
}
