@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.card {
  @include flex(column, center, flex-start, 16px);
  box-sizing: border-box;
  padding: 24px 0;
  border-bottom: 1px solid rgb(95,79,100, .3);
  overflow: hidden;
  transition: width .5s ease-in-out;

  &:last-child {
    border: none;
  }
}

.stringWrapper {
  width: 439px;
  @include flex(column, center, flex-start, 16px);
  padding: 0;
  margin: 0;
  list-style: none;
  transition: width .5s ease-in-out;

  &_inactive {
    width: 50px;
  }
}

.field {
  @include flex(row, space-between, center, 10px);
}

.nav {
  @include flex(row, space-between, center, 10px);
  text-decoration: none;
}

.wrapper {
  @include flex();
  opacity: 1;
  transition: all .5s ease-in-out;

}

.title {
  display: inline;
  opacity: 1;
  transition: all .3s ease-in-out;

  &_inactive {
    opacity: 0;
    display: none;
  }

  @media (max-width: 1230px) {
    font-size: $xxxs-font-size;
  }
}

.fieldTitle {
  transition: all .3s ease-in-out;

  &_active {
    color: $violet;
  }

  &:hover {
    color: $gray;
  }

  @media (max-width: 1230px) {
    font-size: $xxs-font-size;
  }
}

.icon {
  @include size(30px, 30px);
  color: $white;
  transition: all .3s ease-in-out;

  &:hover {
    color: $gray;
  }

  &_active {
    color: $violet;
  }

  @media (max-width: 1230px) {
    @include size(20px, 20px);
  }
}

.approvedWrapper {
  @include flex(row, space-between, center, 4px);
  width: 104px;
  margin-left: 6px;
  padding: 4px 8px;
  background: $green;
  border-radius: 4px;

  &_inactive {
    opacity: 0;
    display: none;
  }
}

.approvedIcon {
  @include size(18px, 18px);
  color: $black;
}
