@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.card {
  @include flex(column, center, flex-start, 16px);
  box-sizing: border-box;
  padding: 24px 0;
  border-bottom: 1px solid rgb(95,79,100, .3);

  &:last-child {
    border: none;
  }
}

.stringWrapper {
  @include flex(column, center, flex-start, 16px);
  padding: 0;
  margin: 0;
  list-style: none;
}

.field {
  @include flex(row, space-between, center, 10px);
}

.nav {
  @include flex(row, space-between, center, 10px);
  text-decoration: none;
}

.fieldTitle {
  &_active {
    color: $violet;
  }

  &:hover {
    color: $gray;
  }
}

.icon {
  @include size(30px, 30px);
  color: $white;

  &_active {
    color: $violet;
  }
}

.approvedWrapper {
  @include flex(row, space-between, center, 4px);
  width: 104px;
  margin-left: 6px;
  padding: 4px 8px;
  background: $green;
  border-radius: 4px;
}

.approvedIcon {
  @include size(18px, 18px);
  color: $black;
}
