@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.header {
  border-bottom: 1px solid rgb(95,79,100, .3);
}

.wrapper {
  @include flex(row, space-between, center);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 0;
}

.logoBlock {
  @include flex(row, center, center, 36px);
}

.logoTitle {
  @include flex(row, center, center, 8px);
  text-decoration: none;
}

.logo {
  @include size(44px, 48px);
}

.icon {
  @include size(32px, 32px);

  &_color_gray {
    color: $gray;
  }

  &_color_white {
    color: $white;
  }
}

.titleMore.titleMore {
  @include font('Red Hat Display', $xxs-font-size, $medium, $l-line-height, $l-letter-space);
  color: $gray;
}

.settingsBlock {
  @include flex(row, center, center, 48px);
}

.titleLanguage.titleLanguage {
  @include font('Red Hat Display', $xxs-font-size, $bold, $m-line-height, $l-letter-space);
  color: $white;
}

.buttons {
  @include flex(row, center, center, 16px);
}

.button.button {
  @include size(32px, 32px);
  padding: 4px 8px;
  border-radius: 4px;
  background: $gray;
  position: relative;

  &_active {
    background: $white;
  }
}

.buttonTitle {
  position: absolute;
  bottom: 3px;
}

.dropdown {
  background: rgb(238,238,238, .3);
  border-radius: 2px;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;

  &__more {
    width: 68px;
  }

  &__languages {
    width: 68px;
  }
}
