@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.menu {
  @include flex(column, center, flex-start);
  width: 246px;

  @media (max-width: 1160px) {
    width: 200px;
  }

  @media (max-width: 900px) {
  }
}

.title {
  @media (max-width: 1160px) {
    font-size: $s-font-size;
  }

  @media (max-width: 900px) {
    font-size: $xxs-font-size;
  }

  @media (max-width: 525px) {
    font-size: $xxxxs-font-size;
  }
}

.nav {
  @include flex(column, center, flex-start, 8px);
  padding-top: 16px;
}

.navLink {
  text-decoration: none;
}

.titleNav {
  font-size: $m-font-size; // 26px
  line-height: $m-line-height;
  letter-spacing: $l-letter-space;

  &:hover {
    color: $gray;
  }

  @media (max-width: 1260px) {
    font-size: $s-font-size;
  }

  @media (max-width: 1160px) {
    font-size: $xs-font-size;
  }

  @media (max-width: 900px) {
    font-size: $xxs-font-size;
  }

  @media (max-width: 525px) {
    font-size: $xxxxs-font-size;
  }
}
