@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.sidebar {
  width: 439px;
  padding: 48px;
  border-right: 1px solid rgb(95,79,100, .3);
  transition: width .4s ease-in-out;
  overflow: hidden;

  &_inactive {
    width: 30px;
    padding: 28px;
  }
}

.headerSidebar {
  @include flex(row, space-between, center);
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(95,79,100, .3);
}

.button {
  display: block;
  opacity: 1;
  transition: all .5s ease-in-out;

  &_inactive {
    opacity: 0;
    display: none;
  }
}

.title {
  display: inline;
  opacity: 1;
  transition: all .5s ease-in-out;

  &_inactive {
    opacity: 0;
    display: none;
  }
}

.icon {
  @include size(36px, 36px);
  color: $white;

  &:hover {
    color: $gray;
  }
}

.userHeader {
  @include flex(row, space-between, center);
  padding: 48px 0 36px;
}

.input {
  @include font('Red Hat Display', $xxs-font-size, $bold, $l-line-height, inherit);
  color: $violet;
  width: 147px;
  padding: 12px 16px;
  border-radius: 4px;
  outline: 0;
  border: none;
  resize: none;
}

.wrapperBadge {
  @include size(20px, 20px);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 17px;
}

.badge__title {
  @include font('Roboto', $xxxxs-font-size, $medium, $m-line-height);
}

.iconBadge {
  @include size(36px, 36px);
  color: $white;
}
