@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.codes {
  @include flex(column, center, flex-start, 16px);
  @include max-size(676px, 244px);
  padding: 24px;
  border-radius: 12px;
  background: $white;

  @media (max-width: 1320px) {
    width: 576px;
    transition: width .1s ease-in-out;
  }
}

.titleCodes {
  text-transform: uppercase;
}

.special {
  @include flex(row, space-between, center);
  max-width: 676px;
  width: 100%;

  &__text {
    @include font('Red Hat Display', $s-font-size, $semiBold, $xl-line-height, $l-letter-space);
  }
}

.link {
  @include font('Red Hat Display', $s-font-size, $semiBold, $xl-line-height, $l-letter-space);
  color: $violet;
  margin-top: 8px;
}
